<body ng-app='myApp' ng-controller='myCtrl'>
    <div class="col-lg-12 col-sm-12 col-xs-12 alert alert-success" ng-show="successMessage">
            <strong>{{successMessage}}</strong>
    </div>
</body>

<div *ngIf="reservation">
  <form class="form" (ngSubmit)="onSubmit()">
    <div class="form-group">
 
      <h2>Add/Edit Reservation for {{reservation.restaurantName | uppercase}} </h2> 
      <div class="form-row">
        <div class="form-group col-md-6">
          <label class="col-sm-2 col-form-label col-form-label-sm" for="inputRestaurantName">RestaurantName</label>

          <input type="text" disabled name="reservation.restaurantName" [(ngModel)]="reservation.restaurantName"
            placeholder="Add Reservation">
        </div>
        <div class="form-group col-md-6">
          <label>reservation name</label>
          <input type="text" disabled name="reservation.name" [(ngModel)]="reservation.name" placeholder="name">
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-6">
          <label>Table Type: </label>
          <input type="text" disabled name="reservation.tableType" [(ngModel)]="reservation.tableType"
            placeholder="Add tableType">
        </div>
        <div class="form-group col-md-6">
          <label>Table Details: </label>
          <input type="text" disabled name="reservation.tableDesc" [(ngModel)]="reservation.tableDesc"
            placeholder="Add tableDesc">
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-6">
          <label>Table Capacity: </label>
          <input type="text" disabled name="reservation.capacity" [(ngModel)]="reservation.capacity"
            placeholder="Add capacity">
        </div>
        <div class="form-group col-md-6">

          <label for="statusVal">booking Statuses</label>
          <select class="form-control" id="statusVal" name="statusVal" [(ngModel)]="reservation.status">
            <option *ngFor="let statusVal of bookingStatuses" [value]="statusVal.value">{{statusVal.viewValue}}
            </option>
          </select>
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-md-6">
          <input type="text" name="reservation.bookingId" [(ngModel)]="reservation.bookingId"
            placeholder="Add bookingId">
        </div>

        <div class="form-group col-md-6">
          <input type="text" name="reservation.userId" [(ngModel)]="reservation.userId" placeholder="Add userId">
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-2">
          <dl-date-time-picker startView="day" maxView="year" minView="minute" minuteStep="30"
            [(ngModel)]="reservation.bookingStart" name="reservation.bookingStart" data-date-format="YYYY-MM-DD hh:ii">
          </dl-date-time-picker>

        </div>
        <div class="form-group col-md-4"></div>

        <div class="form-group col-md-4"></div>
        <div class="form-group col-md-2">
          <dl-date-time-picker startView="day" maxView="year" minView="minute" minuteStep="30"
            [(ngModel)]="reservation.bookingEnd" name="reservation.bookingEnd" data-date-format="YYYY-MM-DD hh:ii">
          </dl-date-time-picker>
        </div>
      </div>

      <input type="hidden" name="reservation.tableReservationId" [(ngModel)]="reservation.tableReservationId" />
      <input type="hidden" name="reservation.restaurantId" [(ngModel)]="reservation.restaurantId" />
      <input type="hidden" name="reservation.tableId" [(ngModel)]="reservation.tableId" placeholder="Add tableId" />
      <div class="form-row">
        <input type="submit" value="Submit" class="btn btn-primary">

      </div>

    </div>


  </form>
</div>